<div class="my-5">
  <ul class="nav nav-tabs m-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        [class.active]="page === 'average_consumption'"
        (click)="setActivePage('average_consumption')"
        id="avarage-consumption-tab"
        data-bs-toggle="tab"
        data-bs-target="#avarage-consumption"
        type="button"
        role="tab"
        aria-controls="avarage-consumption"
        aria-selected="false"
      >
        Średnie spalanie
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        [class.active]="page === 'trip_cost'"
        (click)="setActivePage('trip_cost')"
        id="trip-cost-tab"
        data-bs-toggle="tab"
        data-bs-target="#trip-cost"
        type="button"
        role="tab"
        aria-controls="trip-cost"
        aria-selected="false"
      >
        Koszt przejazdu
      </button>
    </li>
  </ul>

  <div class="p-3" *ngIf="page == 'average_consumption'">
    <app-average-consumption></app-average-consumption>
  </div>

  <div class="p-3" *ngIf="page == 'trip_cost'">
    <app-trip-cost></app-trip-cost>
  </div>
</div>
